body {
	padding: 30px;
	background-color: white;
}
.icons {
	color: white;
	display: flex;
	gap: 20px;
	font-size: 40px;
	padding: 20px;
	flex-wrap: wrap;
}

.icons svg {
	background-color: white;
	color: #252954;
}
